html {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: skyblue;
  overscroll-behavior: none;
}
#root {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

button {
  cursor: pointer;
  border: none;
  padding: 2px 10px;
  height: 22px;
  border-radius: 5px;
  background-color: navy;
  color: white;
}

button:hover {
  background-color: mediumblue;
}

button:disabled,
button:disabled:hover {
  background-color: gray;
  cursor: default;
}
